* {
    color: #323232;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* body {
    background-image: url(images/banner_1);
} */

/* ***************** INICIO MENU HEADER ***************** */
header {
    align-items: center;
    /* border-bottom-style: inset; */
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
}

nav {
    align-items: center;
	position: relative;
}

nav ul {
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
}

nav > ul > li {
	float:left;
}

nav ul li a {
	text-decoration:none;
	display:block;
	padding:10px 20px;
}

nav ul li a:hover {
	background:#f2f2f2;

}

nav > ul > li:hover div {
	display:table;
}

.button {
    border: 1px solid #3e76ba;
    border-color: #353535;
    border-radius: 5px;
    padding: 5px 25px;
    text-shadow: 0 0 3px rgba(0,0,0,0.22);
    cursor: pointer;
    line-height: 1.4285;
    margin-top: 5px;
    z-index: 1;
    overflow: hidden;
    transition: 0.28s ease;
 }
/* ********************** FINAL MENU ********************** */


/* ********************** INICIO SUBMENU ********************** */
nav ul li div {
	width:1000px;
	position: absolute;
    /* left:0; */
    right: 0;
	background:#ccc;
	box-sizing:border-box;
	display:none;
}

nav ul li div ul{
	width:20%;
	display:table-cell;
	border-right:1px solid rgba(255,255,255,.5);
	box-sizing:border-box;
}

nav ul li div ul:last-child {
	border:none;
}

nav ul li div ul .titulo {
	background:#000;
	color:#fff;
	/* color:#323232; */
}

nav ul li div ul .titulo a {
	color:#fff;
	padding:10px 20px;
}

.titulo.azul {background:#3498db;}
.titulo.verde{background:#27ae60;}
.titulo.naranja {background:#e67e22;}
.titulo.rojo {background:#c0392b; color:#000;}

nav ul li div ul .titulo a:hover {
	background:none;
}

nav ul li div ul li a {
	color:#000;
}

nav ul li div ul li a:hover {
	/* color:#fff; */
	color:#323232;
}
/* ***************** FINAL MENU HEADER ***************** */


/* ***************** ETIQUETAS DEL HERO ***************** */
.hero-section {
    background-image: url(../images/banner_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.hero-container{
    height: 700px;
    width: 70%;
}

.hero-slogan {
    border: green;
    height: 50px;
    width: 800px;
    margin-top: 200px;
}

.hero-slogan h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 10px;
}

.hero-slogan p {
    color: #fff;
    font-size: 30px;
}
/* FIN DE LAS ETIQUETAS DEL ---HERO--- */


/* ETIQUETAS DE LA SECCION ---PRODUCTOS--- */
.product-section {
    display: flex;
    height: 400px;
    justify-content: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
}

.product-1 {
    flex-shrink: 0;
    height: inherit;
    padding-top: 20px;
    text-align: center;
    width: 425px;
}

.product-1-img {
    border-radius: 10px;
    box-shadow: 8px 8px 6px gray;
    flex-shrink: 0;
    margin-bottom: 10px;
}
/* FIN DE LAS ETIQUETAS DEL ---PRODUCTOS--- */


/* ETIQUETAS DE LA SECCION ---ARTICULOS--- */
.articulo {
    display: flex;
    flex-shrink: 0; /* obliga al elemento a ocupar el tamano creado */
    height: 220px;
    justify-content: center;
    margin-bottom: 40PX;
}

.articulo-container {
    align-items: center;
    background-color: #e9f3fa;
    display: inherit;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
}

.articulo-img {
    border-radius: 10px;
    box-shadow: 8px 8px 6px gray;
    flex-shrink: 0; /* obliga al elemento a ocupar el tamano creado */
    object-fit: cover; /* permite ajustar imagen al tamano creado */
}

.articulo-nota {
    padding: 0px 40px 0 50px;
    /* width: 80%; */
    width: 700px;
}

.articulo-nota ul {
    list-style-type: none;
}

.articulo-nota li {
    background-image: url("../images/arrow-right.png");
    background-position: 25px 8px;
    background-repeat: no-repeat;
    background-size: 8px;
    padding-left: 35px;
}
/* FIN DE LAS ETIQUETAS DEL ---ARTICULOS--- */

/* ETIQUETAS DE LA SECCION ---FOOTER--- */
.footer-art {
    background-color: #2a365a;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    height: 220px;
    margin-bottom: 20PX;
}

.footer-container {
    display: inherit;
    justify-content: space-between;
    width: 70%;
}

.footer-info h1 {
    color: #74a4cf;
}

.footer-info p,
.footer-info span,
.footer-info ul,
.footer-info li {
    color: #fff;
    list-style: none;
}

/* FIN DE LAS ETIQUETAS DE ---FOOTER--- */


/************ ETIQUETAS DE LA PAGINA NOSOTROS ************/
/* ETIQUETAS DEL ---NOSOTROS-HERO--- */
.nosotros-section {
    /* background-attachment: fixed; */
    background-image: url(../images/banner_nosotros.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
}

.nosotros-container{
    height: 400px;
    width: 70%;
}

.nosotros-slogan {
    border: green;
    height: 50px;
    width: 800px;
    margin-top: 15px;
}

.nosotros-slogan h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 10px;
}

.nosotros-slogan p {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
/* FIN DE LAS ETIQUETAS DEL ---NOSOTROS-HERO--- */

/* ETIQUETAS DE LA SECCION ---NOSOTROS-HISTORIA--- */
.historia-section {
    display: flex;
    height: 400px;
    justify-content: center;
}

.historia-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
}

.historia-1 {
    flex-shrink: 0;
    font-size: 20px;
    height: inherit;
    padding-top: 20px;
    text-align: center;
    width: 70%;
}

/* .historia-1-img {
    border-radius: 10px;
    box-shadow: 8px 8px 6px gray;
    flex-shrink: 0;
    margin-bottom: 10px;
} */
/* FIN DE LAS ETIQUETAS DEL ---NOSOTROS-HISTORIA--- */