* {
    color: #323232;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* body {
    background-image: url(images/banner_1);
} */

/* ***************** INICIO MENU HEADER ***************** */
header {
    align-items: center;
    border-bottom-style: inset;
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin: auto;
    width: 70%;
}

nav {
    align-items: center;
	position: relative;
}

nav ul {
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
}

nav > ul > li {
	float:left;
}

nav ul li a {
	text-decoration:none;
	display:block;
	padding:10px 20px;
}

nav ul li a:hover {
	background:#f2f2f2;

}

nav > ul > li:hover div {
	display:table;
}

.button {
    border: 1px solid #3e76ba;
    border-color: #353535;
    border-radius: 5px;
    padding: 5px 25px;
    text-shadow: 0 0 3px rgba(0,0,0,0.22);
    cursor: pointer;
    line-height: 1.4285;
    margin-top: 5px;
    z-index: 1;
    overflow: hidden;
    transition: 0.28s ease;
 }
/* ********************** FINAL MENU ********************** */


/* ********************** INICIO SUBMENU ********************** */
nav ul li div {
	width:1000px;
	position: absolute;
    /* left:0; */
    right: 0;
	background:#ccc;
	box-sizing:border-box;
	display:none;
}

nav ul li div ul{
	width:20%;
	display:table-cell;
	border-right:1px solid rgba(255,255,255,.5);
	box-sizing:border-box;
}

nav ul li div ul:last-child {
	border:none;
}

nav ul li div ul .titulo {
    /* background:#5a009e; */
    background: #5e4ac5;
    color:#fff;
    font-weight: bold;
}

nav ul li div ul .titulo a {
	color:#fff;
	padding:10px 20px;
}

.titulo.azul {background:#3498db;}
.titulo.gris {background: #c0c0c0;}
.titulo.verde{background:#27ae60;}
.titulo.naranja {background:#e67e22;}
.titulo.rojo {background:#e60031; color:#000;}

nav ul li div ul .titulo a:hover {
	background:none;
}

nav ul li div ul li a {
	color:#000;
}

nav ul li div ul li a:hover {
	/* color:#fff; */
	color:#323232;
}
/* ***************** FINAL SUBMENU HEADER ***************** */


/* ***************** ETIQUETAS DEL HERO ***************** */
.hero-section {
    background-image: url(../images/banner_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.hero-container{
    height: 650px;
    width: 70%;
}

.hero-slogan {
    border: green;
    height: 50px;
    width: 800px;
    margin-top: 200px;
}

.hero-slogan h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 10px;
}

.hero-slogan p {
    color: #fff;
    font-size: 30px;
}
/* FIN DE LAS ETIQUETAS DEL ---HERO--- */


/* ETIQUETAS DE LA SECCION ---PRODUCTOS--- */
.product-section {
    display: flex;
    height: 350px;
    justify-content: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    max-width: 1200px;
}

.product-1 {
    flex-shrink: 0;
    height: inherit;
    padding-top: 20px;
    text-align: center;
    width: 350px;
}

.product-1-img {
    border-radius: 10px;
    box-shadow: 8px 8px 6px gray;
    flex-shrink: 0;
    margin-bottom: 10px;
    width: 300px;
}
/* FIN DE LAS ETIQUETAS DEL ---PRODUCTOS--- */


/* ETIQUETAS DE LA SECCION ---ARTICULOS--- */
.articulo {
    display: flex;
    flex-shrink: 0; /* obliga al elemento a ocupar el tamano creado */
    height: 220px;
    justify-content: center;
    margin: 40px 0;
}

.articulo-container {
    align-items: center;
    background-color: #e9f3fa;
    display: inherit;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
}

.articulo-img {
    border-radius: 10px;
    box-shadow: 8px 8px 6px gray;
    flex-shrink: 0; /* obliga al elemento a ocupar el tamano creado */
    object-fit: cover; /* permite ajustar imagen al tamano creado */
}

.articulo-nota {
    padding: 0px 40px 0 50px;
    /* width: 80%; */
    width: 700px;
}

.articulo-nota ul {
    list-style-type: none;
}

.articulo-nota li {
    background-image: url("../images/arrow-right.png");
    background-position: 25px 8px;
    background-repeat: no-repeat;
    background-size: 8px;
    padding-left: 35px;
}
/* FIN DE LAS ETIQUETAS DEL ---ARTICULOS--- */

/* ETIQUETAS DE LA SECCION ---FOOTER--- */
.footer-art {
    background-color: #2a365a;
    display: flex;
    justify-content: center;
    height: 220px;
    margin-bottom: 20PX;
}

.footer-container {
    display: inherit;
    justify-content: space-between;
    width: 70%;
}

.footer-info h1 {
    color: #74a4cf;
}

.footer-info p,
.footer-info span,
.footer-info ul,
.footer-info li {
    color: #fff;
    list-style: none;
}

/* FIN DE LAS ETIQUETAS DE ---FOOTER--- */


/************ ETIQUETAS DE LA PAGINA NOSOTROS ************/
/* ETIQUETAS DEL ---NOSOTROS-HERO--- */
.nosotros-section {
    /* background-attachment: fixed; */
    background-image: url(../images/banner_nosotros.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
}

.nosotros-container{
    height: 400px;
    width: 70%;
}

.nosotros-slogan {
    height: 50px;
    width: 800px;
    margin-top: 15px;
}

.nosotros-slogan h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 10px;
}

.nosotros-slogan p {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
/* FIN DE LAS ETIQUETAS DEL ---NOSOTROS-HERO--- */

/* ETIQUETAS DE LA SECCION ---NOSOTROS-HISTORIA--- */
.historia-section {
    display: flex;
    height: 300px;
    justify-content: center;
}

.historia-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
}

.historia-descripcion {
    flex-shrink: 0;
    font-size: 20px;
    height: inherit;
    padding-top: 20px;
    text-align: center;
    width: 70%;
}
/* FIN DE LAS ETIQUETAS DEL ---NOSOTROS-HISTORIA--- */

/* ETIQUETAS SECCION NOSOTROS-DESCRIPCION */
.nosotros-descripcion {
    align-items: center;
    display: flex;
    align-content: flex-start;
    height: 500px;
    margin: 0 auto;
}

.nosotros-descripcion-imagen {
    width: 40%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.nosotros-descripcion-detalle-1{
    background-color: #f7f8f8;
    height: 300px;
    padding: 100px 300px 0 100px;
    width: 45%;
}

.nosotros-descripcion-detalle-2{
    background-color: #f7f8f8;
    height: 300px;
    padding: 100px 50px 0 100px;
    width: 45%;
}
/* FIN DE LAS ETIQUETAS NOSOTROS-DESCRIPCION */

/* ETIQUETAS DE LA SECCION ---PRODUCTOS--- */
.products-section {
    display: flex;
    height: 300px;
    justify-content: center;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
}

.products-descripcion {
    flex-shrink: 0;
    font-size: 20px;
    height: inherit;
    padding-top: 20px;
    text-align: center;
    width: 70%;
}

.products-descripcion h1 {
    font-size: 2em;
    font-weight: 200;
}

.products-descripcion h2 {
    color: #a1b8d4;
}

.products-descripcion p {
    padding-top: 30px;
}
/* FIN DE LAS ETIQUETAS DEL ---PRODUCTOS--- */

/* ETIQUETAS DE LA SECCION ---CATEGORIAS--- */
/* .categories {
    border: 3px solid red;    
    display: flex;
    height: 300px;
    justify-content: center;
}

.categories-container {
    border: 3px solid blue;
    background-color: #f7f8f8;
}

.categories-img-cat-1 {
    border: 3px solid green;
    width: 150px;
} */
/* FIN DE LAS ETIQUETAS DEL ---CATEGORIAS--- */

.container {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.container .cards {
    border: 1px solid green;
    position: relative;
    width: 300px;
    height: 400px;
    /* background:black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .container .cards:before {
    border: 1px solid blue;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.1)
    z-index: 20;
    pointer-events: none;
} */

.container .cards .imgBx {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .cards h2 {
    margin: 10px 0 0;
    padding: 0;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.img-categories {
    width: 200px;
    height: 200px;
}

.container .cards .overlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #a1b8d4;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
}

.container .cards .overlay:hover {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    opacity: 0.5;
    border-radius: 0;
}