/*
*  CSS para el sitio www.misitio.com 
*  Importación de las distintas hojas de estilo
*  Autor: Pepito Pérez
*/

/* INDICE 

1.- Elementos Comunes
2.- Estructura
3.- Encabezado
4.- Contenido
5.- Barra Lateral
6.- Pie
7.- Formularios 

NOTA: Importar hojas de estilos:
@import "maquetacion.css";
@import "formularios.css";
@import "colores.css";
*/


/****************************************
*       1.- ELEMENTOS COMUNES
*  body, a, h1, h2, h3, h4, h5, img, div
*****************************************/

<<<<<<< HEAD


=======
>>>>>>> 5505dd61453272e51210b2fd928ddf5025ca5b0e
/*****************************************************
*                    2.- ESTRUCTURA
* #header, #content, #sidebar1, #sidebar2, #footer
******************************************************/

/*****************************************************
*                    3.- ENCABEZADO
*  NAV, figure, img, ol, li, a
******************************************************/


<<<<<<< HEAD
/*****************************************************
=======
 /*****************************************************
>>>>>>> 5505dd61453272e51210b2fd928ddf5025ca5b0e
*                    4.- CONTENIDO
*
*******************************************************/


<<<<<<< HEAD
/*****************************************************
=======
 /*****************************************************
>>>>>>> 5505dd61453272e51210b2fd928ddf5025ca5b0e
*                    5.- BARRA LATERAL
* 
******************************************************/


<<<<<<< HEAD
/*****************************************************
=======
 /*****************************************************
>>>>>>> 5505dd61453272e51210b2fd928ddf5025ca5b0e
*                    6.- PIE DE PAFINA
* #header, #content, #sidebar1, #sidebar2, #footer
******************************************************/


<<<<<<< HEAD
/*****************************************************
=======
 /*****************************************************
>>>>>>> 5505dd61453272e51210b2fd928ddf5025ca5b0e
*                    7.- FORMULARIOS
* 
******************************************************/

<<<<<<< HEAD
=======

>>>>>>> 5505dd61453272e51210b2fd928ddf5025ca5b0e
body {
    background-color: #fafafa;
    margin: 0;
}

<<<<<<< HEAD
.contenedor-menu {
    padding: 0;
    position: absolute;
    top: 0;
    width: 50%;
    /* height: 100%; */
    background-color: white;
    text-align: center;
}

=======
>>>>>>> 5505dd61453272e51210b2fd928ddf5025ca5b0e
.header {
    background-color: #353535;
    color: white;
    display: flex;
    height: 44px;;
    margin: 0;
    widows: 100%;
    /* justify-content: space-between; */
    
}


.header ol li {
    cursor: default;
    user-select: none;
    list-style: none;
    margin: 0 -10px;
    width: auto;
}

.link {
    list-style: none;
    color: #fff;
    font-size: 14px;
    /* font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    padding: 0 10px;
}

.menu {
<<<<<<< HEAD
    align-items: center;
=======
    background-color: blue;
    justify-content: center;
    width: 800px;
>>>>>>> 5505dd61453272e51210b2fd928ddf5025ca5b0e
}